@font-face {
    font-family: 'Anton';
    src: url('../home/Anton-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

h1 {
    color: #333;
}

p {
    font-size: 20px;
    color: #666;
}

/*Logo start*/
.image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    margin: 0;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
}

/*Logo end*/

/*Navbar start*/
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #315cfd;
    padding: 0 1rem;
    height: 60px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100px;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #447ff5;
}

.dropdown {
    position: relative;
    display: flex;
    height: 100%;
}

.dropdown a {
    height: 100%;
    display: flex;
    gap: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #315cfd;
    min-width: 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 0.5rem 1rem;
    display: block;
    height: auto;
    width: 300px;
}

.dropdown-content a:hover {
    background-color: #447ff5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-right {
    margin-left: auto;
    display: flex;
    height: 100%;
}

.navbar-right a {
    height: 100%;
}

.topic-title {
    text-align: center;
}

/*Navbar end*/

.table-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    width: 100%;
    min-height: 550px;
    max-width: 80%;
    padding: 20px;
    border: 1px solid #ddd;
    border-width: 1px;
    margin: 10px auto;
    margin-top: 40px;
}

.subtopic-button {
    padding: 10px 20px;
    border: none;
    font-size: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    height: 100px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #315cfd, #3399ff);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease;
}

.subtopic-button:hover {
    cursor: pointer;
    background-color: #447ff5;
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.top-button {
    margin-left: auto;
    padding: 10px 20px;
    border: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #315cfd;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.top-button:hover {
    cursor: pointer;
    background-color: #447ff5;
}

.subtopic-title {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 20px 0;
}

.subtopic-title h1 {
    margin: 0;
    color: #0066cc;
    white-space: nowrap;
}

.subtopic-title .divider {
    flex-grow: 1;
    background-color: #0066cc;
    margin-left: 10px;
}

.content-section {
    background-color: white;
    padding-top: 20px;
}

.subtopic-section {
    margin-top: 100px;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

.box {
    align-items: flex-start;
    margin-bottom: 20px;
}

/*Subtopic 1 start*/
.b1 {
    flex-direction: column;
    text-align: center;
    margin-left: 20px;
}
/*Subtopic 1 end*/

/*Subtopic 2 start*/
.container-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    gap: 50px;
}

.container-2 {
    display: flex;
}

.left-container {
    flex-direction: column;
    border-right: 1px solid #ddd;
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
}

.left-container h1 {
    text-align: center;
}

.right-container {
    background-color: #FFFFFF;
    flex: 1;
    padding-bottom: 50px;
}

.b2 {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 600px;
}

.b2 img {
    padding: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.b2 .text-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.b2 p {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}

.right-container .significance {
    text-align: center;
}


/*Subtopic 2 end*/